<footer class="bg-mint ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/umiterra_logo_transparant.svg" alt="UmiTerra logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Nieuwsbrief voor leuke recepten, weetjes en producten.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">UmiTerra</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Producten</a></li>
					<li><a href="/recepten" class="link">Recepten</a></li>
					<li><a href="/werkwijze" class="link">Werkwijze</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Meer weten</h3>
				<ul class="mb3">
					<li><a href="/post/keukenkast" class="link">Keukenkast</a></li>
					<li><a href="/contact" class="link">Contact voor maatwerk</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Sociale media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
