{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "ecwid-store" . }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "imageSrc" .Params.values.image.src "imageAlt" .Params.values.image.alt "buttonText" .Params.values.buttonText "buttonLink" .Params.values.buttonLink) }}

{{ partial "blog" . }}

{{ end }}
